.app {
  display: flex;
  flex-direction: column;
  color: #aaa;
  margin: 10px;
}

.button {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: #ccc;
  z-index: 1;
}

.button:hover {
  cursor: pointer;
}

.button__input {
  width: 100%;
  height: 30px;
  margin: 10px auto;
  border-radius: 5px;
}

.button__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button--active {
  background-color: #a3a;
  color: #ccc;
  outline: 2px solid #aaa;
  border-radius: 0;
}

.button__sort {
  width: 110px;;
}

.errorPage__container {
  min-height: 600px;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin: 0 auto;
  color: #f00;
}

.header {
  width: 100%;
  height: 275px;
  background-color: #a3a;
  border: 1px solid #a5a;
  position: relative;
  color: #ccc;
}

.header__panel {
  width: 100%;
  background-color: #a3a;
  margin-top: 60px;
}

.header__panel-plus {
  width: 100%;
  height: 65px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
  min-height: 450px;
}

.list-item {
  width: 200px;
  height: 450px;
  background-color: #fff;
  margin: 20px;
  color: #333;
  border: 2px solid #a3a;
}

.list-item__title {
  margin: 10px 0;
  text-align: center;
}

.list-item__image {
  width: 100%;
  height: 315px;
  min-width: 200px;
  min-height: 300px;
  background-color: #bbf;
}

.list-item__short-description {
  margin: 10px;
  position: relative;
}

.list-item__genre {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 5.5vh;
}

.list-item__year {
  position: absolute;
  top: 95px;
  right: 0;
  color: #a3a;
}

.search__input {
  width: 100%;
  height: 30px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 16px;
}

.search__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.search__box {
  width: 80%;
  margin: 0 10%;
}

.search__count {
  width: 300px;
  min-width: 300px;
  min-height: 50px;
  margin-top: 40px;
  float: left;
  position: relative;
  z-index: 1;
  color: #888;
}

.search__buttons-wrapper {
  font-size: 12px;
}

.search__buttons-wrapper > input {
  margin: 0 10px;
}

.search__count-qty {
  margin-right: 15px;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 50px;
  margin-top: 20px;
  margin-left: 50px;
}

.sort__text {
  z-index: 1;
}

.sort__buttons {
  padding: 7px 15px;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #a3a;
  color: #ccc;
}



