.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 275px;
  background-color: #aff;
  border: 1px solid #afd;

  &__panel{
    width: 100%;
    background-color: #aff;
    margin-top: 60px;
  }

}

