.header {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #aff;
  position: relative;
}
.header__buttons{
  display: flex;
  justify-content: space-evenly;
}
.header__buttons-wraper > button {
  margin: 0 20px;
}
