.list-details {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  &__picture {
    width: 30%;
    height: 450px;
  }

  &__detail {
    width: 50%;
  }

  &__img {
    height: 100%;
  }

  &__time-release{
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  &__genre{
    display: block;
    min-width: 100%;
    margin: 2% 0;
    padding-left: 20%;
  }

}