.list-details {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 35px 0;
  padding: 35px 0;
  background-color: #eee;
  color: #92a;

  &__picture {
    width: 30%;
    height: 450px;
  }

  &__detail {
    width: 50%;
  }

  &__img {
    height: 100%;
  }

  &__time-release{
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  &__genre{
    display: block;
    min-width: 100%;
    margin-top: 2%;
    padding-left: 20%;
  }

}