.header {
  width: 100%;
  height: 275px;
  background-color: #a3a;
  border: 1px solid #a5a;
  position: relative;
  color: #ccc;

  &__panel{
    width: 100%;
    background-color: #a3a;
    margin-top: 60px;
  }

  &__panel-plus {
    width: 100%;
    height: 65px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
  }

}

